/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

:root {
  --basic-black: #000000;
  --basic-black-alfa60: rgba(0, 0, 0, 0.6);
  --basic-black-alfa50: rgba(0, 0, 0, 0.5);
  --basic-black-alfa40: rgba(0, 0, 0, 0.4);
  --basic-black-alfa30: rgba(0, 0, 0, 0.3);
  --basic-black-alfa20: rgba(0, 0, 0, 0.2);
  --basic-black-alfa18: rgba(0, 0, 0, 0.18);: rgba(0, 0, 0, 0.18);
  --basic-black-alfa15: rgba(0, 0, 0, 0.15);
  --basic-black-alfa10: rgba(0, 0, 0, 0.1);
  --basic-dark: #363636;
  --basic-item-grey: rgba(238, 238, 238, 0.7);
  --basic-grey: #464646;
  --basic-grey-half: #7e7e7e;
  --basic-grey-light: #A6A6A6;
  --basic-grey-lightmore: #d9d9d9;
  --basic-grey-semilight: #dcdcdc;
  --basic-grey-lighter: #e5e5e5;
  --basic-grey-lightest1: #EAEAEA;
  --basic-grey-lightest2: #ebebeb;
  --basic-white: #ffffff;
  --basic-white-grey: #F2F2F2;
  --basic-white-alfa70: rgba(255, 255, 255, 0.7);
  --basic-white-alfa60: rgba(255, 255, 255, 0.6);
  --basic-white-alfa30: rgba(255, 255, 255, 0.3);
  --special-yellow-dark: #f0c52e;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-red-light: #f6dada;
  --toggle-gray: #c4c4c4;

}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-catalog {
  display: grid;
  grid-template-columns: 328px 1fr;
  align-content: start;
}

.page-catalog .breadcrumbs {
  grid-column: 1 / -1;
  margin-bottom: 50px;
}

.main-header-logo {
  position: absolute;
  top: -21px;
  left: 60px;
  width: 163px;
  height: 35px;
}

.main-header-logo-link:hover,
.footer-logo-link:hover {
  opacity: 0.6;
}

.main-header-logo-link:active,
.footer-logo-link:active {
  opacity: 0.3;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  position: relative;
  width: 1040px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 44px;
  padding: 0 60px;
  padding-top: 27px;
  padding-bottom: 50px;
  background-color: var(--special-yellow);
}

.main-page-header-block {
  padding-bottom: 164px;
  margin-bottom: 0;
}

.site-search {
  position: relative;
  width: 440px;
}

.site-search-input {
  outline: none;
  border: none;
  border-bottom: 2px solid transparent;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 38px;
  width: 356px;
  background-image: url("../img/icon_search.svg");
  background-repeat: no-repeat;
  background-position: 0 18px;
  background-color: transparent;
}

.site-search-input::-webkit-input-placeholder {
  color: var(--basic-black-alfa30);
}

.site-search-input::-moz-placeholder {
  color: var(--basic-black-alfa30);
}

.site-search-input::placeholder {
  color: var(--basic-black-alfa30);
}

.site-search-input:hover::-webkit-input-placeholder {
  color: var(--basic-black-alfa60);
}

.site-search-input:hover::-moz-placeholder {
  color: var(--basic-black-alfa60);
}

.site-search-input:hover::placeholder {
  color: var(--basic-black-alfa60);
}

.site-search-button {
  display: none;
  position: absolute;
  outline: none;
  top: 0;
  left: 355px;
  line-height: 20px;
  padding: 13px 15px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-black);
}

.site-search-input:hover {
  color: var(--basic-black-alfa60);
}

.site-search-input:focus + .site-search-button {
  display: inline-block;
  vertical-align: middle;
}

.site-search-input:focus {
  color: var(--basic-black);
  border-bottom-color: var(--basic-black);
}

.site-search-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.site-search-button:active {
  display: inline-block;
  vertical-align: middle;
  color: var(--basic-white-alfa30);
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.user-navigation-header {
  display: flex;
  width: 500px;
  padding-top: 15px;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}


.user-navigation a {
  color: var(--basic-black);
}

.site-navigation-link:hover {
  color: var(--basic-black-alfa60);
}

.site-navigation-link:active {
  color: var(--basic-black-alfa30);
}

.user-navigation-header .profile-link,
.user-navigation-header .login-link,
.user-navigation-header .compare-link,
.user-navigation-header .cart-link {
  position: relative;
  padding-left: 25px;
}

.user-navigation-header .login-link {
  margin-right: auto;
}

.user-navigation-header .logout-link {
  margin-left: 20px;
  margin-right: auto;
  color: var(--basic-black-alfa30);
}

.user-navigation-header .logout-link:hover {
  color: var(--basic-black-alfa60);
}

.user-navigation-header .logout-link:active {
  color: var(--basic-black-alfa10);
}

.user-navigation-header .login-link-icon {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 13px;
  height: 14px;
}

.user-navigation-header .profile-link-icon {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 13px;
  height: 14px;
}

.user-navigation-header .compare-link-icon {
  position: absolute;
  top: 4px;
  left: 1px;
  width: 14px;
  height: 14px;
}

.user-navigation-header .cart-link-icon {
  position: absolute;
  top: 5px;
  left: 1px;
  width: 14px;
  height: 14px;
}

.user-navigation-header .login-link:hover,
.user-navigation-header .compare-link:hover,
.user-navigation-header .cart-link:hover {
  opacity: 0.6;
}

.user-navigation-header .login-link:active,
.user-navigation-header .compare-link:active,
.user-navigation-header .cart-link:active {
  opacity: 0.3;
}


.site-navigation-catalog {
  margin-right: auto;
}

.site-navigation-catalog-link {
  position: relative;
  padding-right: 35px;
  letter-spacing: 0.1em;
}

.site-navigation-catalog-link::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 207px;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon_plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation-catalog:hover .catalog-menu {
  visibility: visible;
}

.site-navigation-contacts {
  margin-left: 98px;
}

.site-navigation-delivery {
  margin-right: 38px;
}

.user-navigation .compare-link {
  margin-right: 40px;
}

.catalog-menu {
  z-index: 2;
  visibility: hidden;
  display: flex;
  position: absolute;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  width: 1040px;
  top: 137px;
  left: 0;
  bottom: auto;
  padding-top: 32px;
  padding-right: 60px;;
  padding-left: 60px;
  padding-bottom: 46px;
  background-color: var(--special-yellow);
}

.catalog-menu ul {
  margin: 0;
  padding: 0;
  margin-right: 61px;
  line-height: 20px;
  list-style: none;
}

.catalog-menu li:not(:nth-child(3n))   {
  margin-bottom: 15px;
}

.catalog-menu a {
  color: var(--basic-black);
}

.catalog-menu a:hover {
  color: var(--basic-black-alfa60);
}

.catalog-menu a:active {
  color: var(--basic-black-alfa30);
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  width: 220px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-transform: uppercase;
  border: none;
  outline: none;
  text-decoration: none;
  color: var(--basic-black);
  cursor: pointer;
  background-color: transparent;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  height: 8px;
  width: inherit;
  background-color: var(--special-yellow-dark);
}

.button:hover::before {
  height: 40px;
  margin: 0;
  transition: all ease .3s;
}

.button:active {
  color: var(--basic-black-alfa30);
}

.index-button,
.form-button {
  width: 260px;
}


.catalog-button {
  width: 200px;
}

.button-compare {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  margin-top: 22px;
  border: none;
  background-color: transparent;
  color: var(--basic-black-alfa50);
  outline: none;
  cursor: pointer;
}

.button-compare:hover {
  color: var(--basic-black)
}

.button-compare:active {
  color: var(--basic-black-alfa20)
}

.title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  grid-column: 1 / -1;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
}

.page-title {
  padding-left: 60px;
}

.slider {
  position: relative;
  z-index: 1;
  margin-top: -98px;
}

.slide {
  display: none;
}

.slide-current {
  display: flex;
}

.slide-image-column {
  width: 52%;
  text-align: center;
}

.slide-info-column::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  top: 0;
  left: 0;
  background-color: var(--basic-white);
}

.slide-info-column {
  position: relative;
  width: 48%;
  padding-top: 59px;
}

.slide-number {
  position: absolute;
  z-index: -1;
  top: -51px;
  right: 47px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.slide-title {
  width: 390px;
}

.slide-description {
  width: 472px;
  line-height: 20px;
  margin-bottom: 51px;
}

.slide-description-short {
  width: 450px;
}

.slide-buttons-wrapper {
  position: relative;
}

.slide-controls {
  position: absolute;
  top: 5px;
  right: 28px;
}

.slide-controls button {
  position: relative;
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  margin-right: 18px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.current-slide::after {
  position: absolute;
  content: "";
  top: 2px;
  left: 2px;
  width: 4px;
  height: 4px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
}


.slide-specification {
  margin-top: 51px;
}

.slide-specification ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-specification-fact li {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  padding-bottom: 15px;
  color: var(--basic-black);
  width: 160px;
}

.slide-specification-definition li {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  width: 160px;
}

.slide-specification-fact li:nth-child(2),
.slide-specification-definition li:nth-child(2) {
  width: 140px;
}

.slide-fact-wide li {
  width: 182px;
}

.item-categories {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  margin: 0;
  padding: 0;
  padding-top: 96px;
  padding-bottom: 85px;
  list-style: none
}

.item-categories .item-category {
  margin-right: 40px;
  text-align: left;
}

.item-category-title {
  margin: 0;
  padding: 0;
  margin-top: 38px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.item-category-title-spacing {
  letter-spacing: 0em;
}

.item-category-link {
  display: block;
}

.item-category-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
}

.item-category:hover .item-category-block {
  background-color: var(--special-yellow-dark);
}

.item-category:active .item-category-title,
.item-category:active .item-categories-image {
  opacity: 0.3;
}


.services {
  min-height: 288px;
  background-color: var(--basic-grey-lighter);
}

.services-content {
  display: flex;
  margin-top: 100px;
}

.services-info {
  margin-left: 123px;
  margin-top: -29px;
}

.services-info h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  color: var(--basic-black);
}

.services-info p {
  letter-spacing: 0.1em;
}

.services-tabs {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 284px;
  min-height: 320px;
  margin: 0;
  padding: 0;
  margin-top: -75px;
  list-style: none;
}

.services-tabs::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 320px;
  left: 284px;
  top: -25px;
  background-color: var(--basic-black);
}

.services-tabs li {
  margin-bottom: 30px;
  width: 100%;
}

.service-link {
  width: 160px;
}

.service-current-tab {
  background-color: var(--basic-black);
}

.service-link:active {
  color: var(--special-yellow);
  background-color: var(--basic-black);
}


.service-current-tab a{
  color: var(--special-yellow);
}

.service-tab:active {
  color: var(--special-yellow);
  background-color: var(--basic-black);
}

.service-info-delivery,
.service-info-warranty,
.service-info-credit {
  position: relative;
  display: none;
}

.service-info-description-delivery {
  width: 495px;
}

.service-info-description-warranty {
  width: 574px;
}

.service-info-description-credit {
  width: 540px;
}


.service-info-delivery::after {
  content: "";
  position: absolute;
  top: 0;
  left: 617px;
  width: 136px;
  height: 165px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;

}

.service-info-warranty::after {
  content: "";
  position: absolute;
  top: -16px;
  left: 598px;
  width: 260px;
  height: 320px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
}

.service-info-credit::after {
  content: "";
  position: absolute;
  top: -27px;
  left: 590px;
  width: 260px;
  height: 320px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
}

.service-current {
  display: block;
}

.brands {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 90px;
  margin-bottom: 90px;
  list-style: none;
}

.brand-link-dji:hover {
  display: block;
  background-image: url("../img/brand_1_color.png");
}

.brand-link-sp:hover {
  display: block;
  background-image: url("../img/brand_2_color.png");
}

.brand-link-gopro:hover {
  display: block;
  background-image: url("../img/brand_3_color.png");
}

.brand-link-vive:hover {
  display: block;
  background-image: url("../img/brand_4_color.png");
}



.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: 40px;
  padding-left: 60px;
  font-size: 14px;
  line-height: 19px;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -25px;
  width: 12px;
  height: 12px;
  background-image: url("../img/icon_arrow_nav.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  color: var(--basic-black-alfa30);
}

.breadcrumbs a:hover {
  color: var(--basic-black-alfa60);
}

.breadcrumbs a:active {
  color: var(--basic-black-alfa10);
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black-alfa30);
}

.filters::before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 150vw;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--basic-grey-lighter);
}

.filters {
  z-index: 1;
  position: relative;
  width: 328px;
  background-color: var(--basic-grey-lighter);
}

.filters h2,
.sort h2{
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filters-title-block::before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 150vw;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--basic-grey-semilight);
}

.filters-title-block {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 60px;
  background-color: var(--basic-grey-semilight);
}

.filter {
  padding-top: 70px;
  padding-left: 60px;
}


.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter fieldset:last-of-type {
  margin-bottom: 44px;
}

.fieldset-divider {
  content: "";
  width: 200px;
  height: 2px;
  margin-top: 37px;
  background-color: var(--basic-black);
}

.fieldset-divider:first-child {
  margin-top: 0;
}

.range-filter {
  width: 200px;
}

.range-controls {
  position: relative;
  padding: 9px 0;
}

.scale {
  height: 2px;
  background-color: var(--basic-black-alfa20);
}

.bar {
  background-color: var(--special-green);
  height: 100%;
  width: 60%;
  margin-left: 0%;
}

.toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: var(--toggle-gray);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 2px 2px var(--basic-black-alfa18);
  outline: none;
  cursor: pointer;
}

.toggle-min {
  left: 0%;
}

.toggle-max {
  left: 60%;
}

.price-controls {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  margin-top: 8px;
}

.price-controls label {
  display: flex;
  margin-right: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black);

}

.price-controls input {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black);
  width: 50px;
  border: none;
  background-color: transparent;
  margin-left: 5px;
}

.filter legend {
  padding-top: 14px;
  padding-bottom: 32px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 19px;
}

.filter-option {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  padding-left: 43px;
}

.filter-option:last-child {
  margin-bottom: 0;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-weight: 300;
  font-size: 14px;
  color: var(--basic-black);
}


.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -3px;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 2px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -38px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon_check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-option label:hover::before,
.filter-option label:hover::after {
  opacity: 0.6;
}

.filter-option label:active::before,
.filter-option label:active::after {
  opacity: 1;
}

.filter-input-checkbox:disabled + label{
  opacity: 0.25;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -3px;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -32px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
}

.sort {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 72px;
  margin-bottom: 21px;
  background-color: var(--basic-grey-lighter);
}

.sort-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 74px;
  list-style: none;
}


.sort-list li {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-right: 30px;
}

.sort-list li:last-child {
  margin-right: 0;
}

.sort-list-button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  color: var(--basic-black-alfa30);
  background-color: transparent;
}

.sort-list-button:hover {
  color: var(--basic-black-alfa60)
}

.sort-list-button:active {
  color: var(--basic-black)
}

.sort-list-button-current {
  color: var(--basic-black);
}

.sort-buttons {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;
}

.sort-button-up,
.sort-button-down {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.sort-button-up {
  margin-right: 16px;
}

.sort-button-up:hover path,
.sort-button-down:hover path {
  opacity: 0.4;
}

.sort-button-up:active path,
.sort-button-down:active path {
  opacity: 1;
}

.sort-button-inactive path {
  opacity: 0.2;
}

.sort::after {
  position: absolute;
  content: "";
  z-index: -1;
  width: 60vw;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--basic-grey-lighter);
}

.catalog {
  margin-left: 72px;
  color: var(--basic-white)
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.new-item::before {
  content: "NEW";
  position: absolute;
  margin-top: 29px;
  margin-left: 271px;
  margin-right: 27px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 58px;
  color: var(--basic-black-alfa30);
  text-align: center;
  text-transform: uppercase;
  width: 58px;
  height: 58px;
  border: 2px solid var(--basic-black-alfa30);
  border-radius: 50%;
}

.catalog-item {
  position: relative;
  width: 360px;
  min-height: 454px;
  margin-top: 48px;
  margin-right: 40px;
  background-color: var(--basic-white);
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-image {
  display: block;
  width: 360px;
  height: 380px;
}

.catalog-item-text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 30px;
}

.catalog-item-title {
  margin: 0;
  padding: 0;
}

.catalog-item-title a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.catalog-item-buttons {
  z-index: 1;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 380px;
  background-color: var(--basic-item-grey);
}

.catalog-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
}

.catalog-item:hover .catalog-item-buttons {
  display: block;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 72px;
  margin-bottom: 78px;
  background-color: var(--basic-grey-lightest2);
}

.pagination a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black-alfa30);
}

.pagination-pages {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.pagination-pages li {
  margin-right: 30px;
  list-style: none;
}

.pagination-pages li:last-child {
  margin-right: 0;
}

.pagination a:hover {
  color: var(--basic-black-alfa60);
}

.pagination a:active {
  color: var(--basic-black);
}


.pagination-prev a,
.pagination-next a{
  display: flex;
  align-items: center;
  padding: 25px 30px;
  color: var(--basic-black);
}

.pagination-prev a:hover,
.pagination-next a:hover {
  color: var(--basic-black);
  background-color: var(--basic-grey-lightmore);
}

.pagination-prev a:active,
.pagination-next a:active {
  color: var(--basic-black-alfa30);
  background-color: var(--basic-grey-lightmore);
}

.pagination-item-current a {
  color: var(--basic-black);
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
}

.index-divider {
  content: "";
  width: 80px;
  height: 7px;
  margin-right: auto;
  background-color: var(--basic-black);
}

.index-columns h2 {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.index-columns p {
  margin-bottom: 40px;
}

.about {
  width: 473px;
}

.partners-list {
  margin: 0;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 70px;
  padding-left: 32px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  list-style: none;
  color: var(--basic-black);
}


.partners-list li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -32px;
  width: 4px;
  height: 4px;
  border: 2px solid var(--basic-grey-lighter);
  border-radius: 50%;
}

.partners-list li {
  position: relative;
}

.partners-list li:not(:last-child) {
  margin-bottom: 14px;
}

.contacts {
  width: 560px;
}

.main-footer {
  padding-top: 46px;
  padding-bottom: 64px;
  background-color: var(--basic-dark);
}

.footer-navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: block;
  width: 163px;
  height: 35px;
  padding-top: 18px;
}

.footer-logo path {
  fill: var(--special-yellow-dark);
}


.site-navigation-footer {
  justify-content: center;
}

.site-navigation-footer li {
  margin-right: 36px;
}

.site-navigation-footer li:last-child {
  margin-right: 0;
}

.user-navigation-footer  {
  margin: 0;
  line-height: 20px;
}

.user-navigation-footer-login  {
  width: 30%;
  margin-top: 0;
  margin-bottom: 0;
}

.user-navigation-footer .login-link-icon {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 13px;
  height: 14px;
}

.user-navigation-footer .profile-link-icon {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 13px;
  height: 14px;
}

.user-navigation-footer .compare-link-icon {
  position: absolute;
  top: 4px;
  left: 1px;
  width: 14px;
  height: 14px;
}

.user-navigation-footer .cart-link-icon {
  position: absolute;
  top: 5px;
  left: 1px;
  width: 14px;
  height: 14px;
}

.user-navigation-footer .profile-link-icon > path {
  fill: var(--special-yellow);
}

.user-navigation-footer .login-link-icon > path,
.user-navigation-footer .compare-link-icon > path,
.user-navigation-footer .cart-link-icon > path {
  fill: var(--special-yellow-dark);
}

.user-navigation-footer a {
  color: var(--basic-white-alfa70);
}

.site-navigation-footer a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.user-navigation-footer a:hover {
  color: var(--basic-white);
}

.site-navigation-footer a:hover {
  color: var(--basic-white-alfa60);
}

.site-navigation-footer a:active,
.user-navigation-footer a:active {
  color: var(--basic-white-alfa30);
}

.user-navigation-footer .login-link,
.user-navigation-footer .profile-link,
.user-navigation-footer .compare-link,
.user-navigation-footer .cart-link {
  position: relative;
  margin-left: 40px;
  padding-left: 25px;
}

.user-navigation-footer .logout-link {
  margin-left: 24px;
}

.footer-middle {
  display: flex;
  margin-top: 39px;
  margin-bottom: 67px;
}

.footer-middle-column,
.footer-middle-column-right {
  width: 30%
}

.footer-middle-column-right {
  text-align: right;
}

.footer-middle-column-center {
  align-self: center;
  width: 40%;
}

.footer-address,
.footer-phone {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
}

.footer-phone:hover {
  color: var(--basic-white-alfa60);
}

.footer-phone:active {
  color: var(--basic-white-alfa30);
}

.footer-bottom {
  display: flex;
  justify-content: flex-end;
}

.footer-bottom-column-center {
  width: 40%;
}

.footer-bottom-column-right {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.footer-bottom-column-right a:hover {
  opacity: 0.6;
}

.footer-bottom-column-right a:active {
  opacity: 0.3;
}

.footer-bottom::before {
  content: "";
  width: 80px;
  height: 7px;
  margin-top: 13px;
  margin-right: auto;
  background-color: var(--special-yellow-dark);
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social li{
  margin-right: 20px;
}

.footer-social li:last-child{
  margin-right: 0;
}

.social-button:hover path {
  fill-opacity: 0.6;
}

.social-button:active path {
  fill-opacity: 0.1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px var(--basic-black-alfa15);
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.modal-feedback {
  top: 120px;
  bottom: auto;
  width: 760px;
  padding-top: 92px;
  padding-bottom: 60px;
  padding-left: 100px;
  padding-right: 100px;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
}

.feedback-form label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
  color: var(--basic-black);
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-right: 18px;
  padding-left: 18px;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black-alfa40);
  border: 2px solid transparent;
  background-color: var(--basic-white-grey);
  outline: none;
}

.feedback-form textarea {
  min-height: 167px;
  padding-top: 14px;
  padding-right: 18px;
  padding-left: 18px;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black-alfa40);
  background-color: var(--basic-white-grey);
  border: 2px solid transparent;
  outline: none;
  resize: none;
}

.feedback-option {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.feedback-option-name {
  width: 360px;
  margin-right: 40px;
}

.feedback-option-email {
  width: 360px;
}

.feedback-option-comment {
  width: 100%;
  margin-bottom: 0;
}

.feedback-option:last-child {
  margin-bottom: 0;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  background-color: var(--basic-grey-lightest1);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  color: var(--basic-black);
  border: 2px solid var(--special-yellow);
  background-color: var(--basic-white);
}

.feedback-form input:invalid {
  border: 2px solid var(--special-red-light);
  background-color: var(--special-red-light);
}

.feedback-form .button-send {
  width: 200px;
  margin-top: 45px;
}

.modal-close {
  z-index: 3;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background-color: var(--special-yellow-dark);
  opacity: 0.5;
  border-radius: 50%;
}

.modal-close-icon {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url("../img/icon_cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.map-preview {
  display: block;
  width: 560px;
  height: 222px;
  margin-bottom: 76px;
  background-color: var(--basic-grey-lightest1);
}

.modal-map {
  top: 200px;
  bottom: auto;
  width: 960px;
  height: 559px;
  background-color: var(--basic-grey-lightest1);
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(20px);
  }

  90% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(20px);
  }

  90% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60% {
    transform: translateX(5px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60% {
    transform: translateX(5px);
  }
}
