:root {
  --basic-black: #000000;
  --basic-black-alfa60: rgba(0, 0, 0, 0.6);
  --basic-black-alfa30: rgba(0, 0, 0, 0.3);
  --basic-black-alfa10: rgba(0, 0, 0, 0.1);
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-grey-half: #7e7e7e;
  --basic-grey-light: #A6A6A6;
  --basic-grey-lightmore: #d9d9d9;
  --basic-grey-semilight: #dcdcdc;
  --basic-grey-lighter: #e5e5e5;
  --basic-grey-lightest: #ebebeb;
  --basic-white: #ffffff;
  --basic-white-alfa70: rgba(255, 255, 255, 0.7);
  --basic-white-alfa60: rgba(255, 255, 255, 0.6);
  --basic-white-alfa30: rgba(255, 255, 255, 0.3);
  --special-yellow-dark: #f0c52e;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-red-light: #f6dada;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("fonts/gilroyextrabold.woff2") format("woff2"),
       url("fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/gilroylight.woff2") format("woff2"),
       url("fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/opensans.woff2") format("woff2"),
       url("fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/opensanslight.woff2") format("woff2"),
       url("fonts/opensanslight.woff") format("woff");
}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-catalog {
  display: grid;
  grid-template-columns: 328px 1fr;
  align-content: start;
  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.main-header {

}

.main-header-logo {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  width: 163px;
  height: 35px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-navigation-wrapper {
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
  width: 1160px;
  margin-top: 40px;
  margin-bottom: 44px;
  padding: 0 60px;
  background-color: var(--special-yellow);
}


.site-search input::placeholder {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black-alfa30);
}

.site-search input:hover::placeholder {
  color: var(--basic-black-alfa60);
}

.site-search input:focus::placeholder {
  color: var(--basic-black);
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  outline: 5px solid rgba(0, 255, 255, 0.5);
  outline-offset: -5px;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.user-navigation-links {
  display: flex;
  width: 500px;
  outline: 5px solid rgba(140, 0, 255, 0.2);
  outline-offset: -5px;
}

.user-navigation-links .login-link {
  margin-right: auto;
}


.site-navigation {
  display: flex;
  width: 1040px;
  margin: 0;
  padding: 0;
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--basic-black-alfa60);
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: var(--basic-black-alfa30);
}

.user-navigation .site-search {
  padding-left: 22px;
}

.user-navigation-links .profile-link,
.user-navigation-links .login-link,
.user-navigation-links .compare-link,
.user-navigation-links .cart-link {
  padding-left: 25px;
}

.user-navigation .compare-link {
  margin-right: 40px;
}



.button {
  display: inline-block;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--special-yellow-dark);
  border: none;
  text-decoration: none;
}

.button:hover {
  color: var(--basic-black);
  background-color: var(--special-yellow-dark);
}

.button:focus {
  color: var(--basic-black-alfa30);
}

.title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  grid-column: 1 / -1;
  outline-offset: -5px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
}

.slider {
  background-color: var(--basic-white);
}

.slide-number {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  color: var(--basic-grey-lighter);
  text-transform: uppercase;
}

.slide-description {
  line-height: 20px;
}

.slide-specification tr:nth-child(1) {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.slide-specification tr:nth-child(2) {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.item-categories,
.service-tabs,
.brands {
  list-style: none;
}

.item-categories h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.service h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.service-current-tab {
  color: var(--special-yellow);
  background-color: var(--basic-black);
}

.breadcrumbs {
  grid-column: 1 / -1;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  outline-offset: -5px;
  outline: 5px solid rgba(0, 0, 255, 0.7);
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black-alfa30);
}

.breadcrumbs a:hover {
  color: var(--basic-black-alfa60);
}

.breadcrumbs a:focus {
  color: var(--basic-black-alfa10);
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black-alfa30);
}

.filters {
  outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 255, 0.7);
  background-color: var(--basic-grey-lighter);
}

.filters h2,
.sort h2{
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filters-title-block {
  background-color: var(--basic-grey-semilight);
}

.filter-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter label {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
}

.filter input:disabled + label {
  color: var(--basic-grey-light);
}

.sort {
  outline-offset: -5px;
  outline: 5px solid rgba(100, 100, 100, 0.7);
  background-color: var(--basic-grey-lighter);
}

.sort ul {
  list-style: none;
}

.sort-list button {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black-alfa30);
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.sort-list button:hover {
  color: var(--basic-black-alfa60)
}

.sort-list button:hover {
  color: var(--basic-black)
}

.sort-button-current button {
  color: var(--basic-black);
}

.catalog {
  margin-left: 60px;
  outline-offset: -5px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  color: var(--basic-white)
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-item {
  width: 220px;
  min-height: 285px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-item-title a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.catalog-item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.pagination {
  outline-offset: -5px;
  outline: 5px solid rgba(100, 0, 200, 0.7);
  list-style: none;
  background-color: var(--basic-grey-lightest);
}

.pagination a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black-alfa30);
}

.pagination a:hover {
  color: var(--basic-black-alfa60);
}

.pagination a:focus {
  color: var(--basic-black);
}

.pagination-prev a,
.pagination-next a{
  color: var(--basic-black);
}

.pagination-prev a:hover,
.pagination-next a:hover {
  color: var(--basic-black);
  background-color: var(--basic-grey-lightmore);
}

.pagination-prev a:focus,
.pagination-next a:focus {
  color: var(--basic-black-alfa30);
  background-color: var(--basic-grey-lightmore);
}

.pagination-item-current a {
  color: var(--basic-black);
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
  background-color: var(--basic-white);
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.about {
  width: 473px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.about p {
  margin-bottom: 40px;
}

.partners-list {
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: var(--basic-black);
}

.contacts {
  width: 560px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.contacts-container {
  height: 329px;
}

.contacts img {
  width: 560px;
  height: 222px;
}

.main-footer {
  padding: 64px 0;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
  background-color: var(--basic-dark);
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-logo {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

.user-navigation-footer a {
  color: var(--basic-white-alfa70);
}

.site-navigation-footer a {
  color: var(--basic-white);
}

.user-navigation-footer a:hover {
  color: var(--basic-white);
}

.site-navigation-footer a:hover {
  color: var(--basic-white-alfa60);
}

.site-navigation-footer a:focus,
.user-navigation-footer a:focus {
  color: var(--basic-white-alfa30);
}

.footer-middle {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.footer-address,
.footer-phone {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
}

.footer-phone:hover {
  color: var(--basic-white-alfa60);
}

.footer-phone:focus {
  color: var(--basic-white-alfa30);
}

.footer-social {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  list-style: none;
}

.catalog-menu,
.catalog-item-buttons,
.modal {
  display: none;
}

