:root {
  --basic-black: #000000;
  --basic-black-alfa60: rgba(0, 0, 0, 0.6);
  --basic-black-alfa30: rgba(0, 0, 0, 0.3);
  --basic-black-alfa10: rgba(0, 0, 0, 0.1);
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-grey-half: #7e7e7e;
  --basic-grey-light: #A6A6A6;
  --basic-grey-lighter: #e5e5e5;
  --basic-white: #ffffff;
  --basic-white-alfa70: rgba(255, 255, 255, 0.7);
  --basic-white-alfa60: rgba(255, 255, 255, 0.6);
  --basic-white-alfa30: rgba(255, 255, 255, 0.3);
  --special-yellow-dark: #f0c52e;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-red-light: #f6dada;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("fonts/gilroyextrabold.woff2") format("woff2"),
       url("fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/gilroylight.woff2") format("woff2"),
       url("fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/opensans.woff2") format("woff2"),
       url("fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/opensanslight.woff2") format("woff2"),
       url("fonts/opensanslight.woff") format("woff");
}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  background-color: var(--special-yellow);
}

.search input::placeholder {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black-alfa30);
}

.search input:hover::placeholder {
  color: var(--basic-black-alfa60);
}

.search input:focus::placeholder {
  color: var(--basic-black);
}

.user-navigation {
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
}

.site-navigation {
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--basic-black-alfa60);
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: var(--basic-black-alfa30);
}

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black-alfa30);
}

.breadcrumbs a:hover {
  color: var(--basic-black-alfa60);
}

.breadcrumbs a:focus {
  color: var(--basic-black-alfa10);
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black-alfa30);
}

.filters {
  background-color: var(--basic-grey-lighter);
}

.filter-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter label {
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
}

.filter input:disabled + label {
  color: var(--basic-grey-light);
}

.item-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}


.index-columns {
  background-color: var(--basic-white);
}

.index-columns h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.partners-list {
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: var(--basic-black);
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--special-yellow-dark);
  border: none;
  text-decoration: none;
}

.button:hover {
  color: var(--basic-black);
  background-color: var(--special-yellow-dark);
}

.button:focus {
  color: var(--basic-black-alfa30);
}


.main-footer {
  background-color: var(--basic-dark);
}

.footer-logo {

}

.user-navigation-footer a {
  color: var(--basic-white-alfa70);
}

.site-navigation-footer a {
  color: var(--basic-white);
}

.user-navigation-footer a:hover {
  color: var(--basic-white);
}

.site-navigation-footer a:hover {
  color: var(--basic-white-alfa60);
}

.site-navigation-footer a:focus,
.user-navigation-footer a:focus {
  color: var(--basic-white-alfa30);
}

.footer-address,
.footer-phone {
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
}

.footer-phone:hover {
  color: var(--basic-white-alfa60);
}

.footer-phone:focus {
  color: var(--basic-white-alfa30);
}

.footer-social {
  list-style: none;
}

.catalog-menu {
  display: none;
}

.modal {
  display: none;
}
